<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
    <!-- MATERIAL CDN -->
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp"
      rel="stylesheet"
    />
    <!-- STYLESHEET-->
    <link rel="stylesheet" href="/css/adminDash.css" />
  </head>
  <body>
    <%- include('layout/navbar') %>
    <!-- END OF NAVBAR -->
    <div class="container">
      <aside>
        <div class="sidebar">
          <a href="/admin/dashboard" class="active">
            <span class="material-icons-sharp">grid_view</span>
            <h3>Dashboard</h3>
          </a>
          <a href="/admin/management">
            <span class="material-icons-sharp">manage_accounts</span>
            <h3>Management</h3>
          </a>
          <a href="/admin/billing">
            <span class="material-icons-sharp">payments</span>
            <h3>Billing</h3>
            <span class="message-count"><%= allwaitingpackage %></span>
          </a>
          <a href="/admin/setting">
            <span class="material-icons-sharp">settings</span>
            <h3>Setting</h3>
          </a>
          <a href="/admin/admin">
            <span class="material-icons-sharp">admin_panel_settings</span>
            <h3>Admin</h3>
          </a>
          <a href="/user/dashboard">
            <span class="material-icons-sharp">manage_accounts</span>
            <h3>User Account</h3>
          </a>
          <a href="/auth/user/logout">
            <span class="material-icons-sharp">logout</span>
            <h3>Logout</h3>
          </a>
        </div>
      </aside>
      <!-- END OF ASIDE -->
      <main>
        <h1>Dashboard</h1>
        <div class="insights">
          <div class="account-register">
            <span class="material-icons-sharp">person_add</span>
            <div class="middle">
              <div class="left">
                <h3>Account Registered</h3>
                <h1><%= allusers %></h1>
              </div>
            </div>
          </div>
          <!-- END OF ACCOUNT REGISTER -->
          <div class="admin-account">
            <span class="material-icons-sharp">manage_accounts</span>
            <div class="middle">
              <div class="left">
                <h3>Admin Account</h3>
                <h1><%= alladmin %></h1>
              </div>
            </div>
          </div>
          <!-- END OF ADMIN -->
          <div class="buy-package">
            <span class="material-icons-sharp">shopping_cart</span>
            <div class="middle">
              <div class="left">
                <h3>Buy Package</h3>
                <h1><%= allpackage %></h1>
              </div>
            </div>
          </div>
          <!-- END OF BUY PACKAGE -->
          <div class="waiting-approve">
            <span class="material-icons-sharp">fact_check</span>
            <div class="middle">
              <div class="left">
                <h3>Waiting Approve</h3>
                <h1><%= allwaitingpackage %></h1>
              </div>
            </div>
          </div>
          <!-- END OF WAITING APPROVE -->
          <div class="total-paid">
            <span class="material-icons-sharp">paid</span>
            <div class="middle">
              <div class="left">
                <h3>Total Paid</h3>
                <h1><%= totalpaidpackages %></h1>
              </div>
            </div>
          </div>
          <!-- END OF TOTAL PAID -->
          <div class="package-rejected">
            <span class="material-icons-sharp">swipe_left</span>
            <div class="middle">
              <div class="left">
                <h3>Packages Rejected</h3>
                <h1><%= totalpackagesrejected %></h1>
              </div>
            </div>
          </div>
          <!-- END OF PACKAGES REJECTED -->
        </div>
        <div class="recent">
          <h2>Recent Activity</h2>
          <table>
            <thead>
              <tr>
                <th>Type</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Username</th>
                <th>Eamil</th>
                <th>Phone</th>
                <th>Line ID</th>
                <th>Package</th>
                <th>Status</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <% for(let i=0; i<alluserslist.length; i++) { %>
              <tr>
                <td><%= alluserslist[i].typeof %></td>
                <td><%= alluserslist[i].firstname %></td>
                <td><%= alluserslist[i].lastname %></td>
                <td><%= alluserslist[i].username %></td>
                <td><%= alluserslist[i].email %></td>
                <td><%= alluserslist[i].phone %></td>
                <td><%= alluserslist[i].lineid %></td>
                <td><%= alluserslist[i].package %></td>
                <td class="success"><%= alluserslist[i].status %></td>
                <td><a href="/user/detail/<%= alluserslist[i]._id %>"><span class="material-icons-sharp">visibility</span></a></td>
              </tr>
              <% } %>
            </tbody>
          </table>
        </div>
      </main>
      <!-- END OF MAIN -->
    </div>
    <script src="/index.js"></script>
  </body>
</html>
