<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Billing Management</title>
    <!-- MATERIAL CDN -->
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp"
      rel="stylesheet"
    />
    <!-- STYLESHEET-->
    <link rel="stylesheet" href="/css/billing.css" />
    <script>
      function ChangeValue() {
        let paymentchange = document.getElementById("payment-change").value;
        document.getElementById("payment").setAttribute("value", paymentchange);
      }
    </script>
  </head>
  <body>
    <%- include('layout/navbar') %>
    <!-- END OF NAVBAR -->
    <div class="container">
      <aside>
        <div class="sidebar">
          <a href="/admin/dashboard">
            <span class="material-icons-sharp">grid_view</span>
            <h3>Dashboard</h3>
          </a>
          <a href="/admin/management">
            <span class="material-icons-sharp">manage_accounts</span>
            <h3>Management</h3>
          </a>
          <a href="/payment/confirmation">
            <span class="material-icons-sharp">paid</span>
            <h3>Payment</h3>
            <span class="message-count"><%= paymentpending %></span>
          </a>
          <a href="/admin/billing" class="active">
            <span class="material-icons-sharp">payments</span>
            <h3>Billing</h3>
          </a>
          <a href="/admin/setting">
            <span class="material-icons-sharp">settings</span>
            <h3>Setting</h3>
          </a>
          <a href="/admin/admin">
            <span class="material-icons-sharp">admin_panel_settings</span>
            <h3>Admin</h3>
          </a>
          <a href="/user/dashboard">
            <span class="material-icons-sharp">manage_accounts</span>
            <h3>User Account</h3>
          </a>
          <a href="/auth/user/logout">
            <span class="material-icons-sharp">logout</span>
            <h3>Logout</h3>
          </a>
        </div>
      </aside>
      <!-- END OF ASIDE -->
      <main>
        <h1>Billing Management</h1>
        <div class="billinglist">
          <table>
            <thead>
              <tr>
                <th>Order Number</th>
                <th>Username</th>
                <th>Package</th>
                <th>Package Life</th>
                <th>Payment</th>
                <th>Start</th>
                <th>Expire</th>
                <th>Action</th>
              </tr>
            </thead>
            <% for(let i=0; i<allpackagelist.length; i++) { %>
            <tbody>
              <tr>
                <td><%= allpackagelist[i]._id %></td>
                <td><%= allpackagelist[i].userid.username %></td>
                <td><%= allpackagelist[i].package %></td>
                <td><%= allpackagelist[i].packagelife %></td>
                <td><input value="<%= allpackagelist[i].payment %>"></td>
                <td><%= allpackagelist[i].startDate.toDateString() %></td>
                <td>Coming Soon</td>
                <td><a href="/package/detail/<%= allpackagelist[i]._id %>"><span class="material-icons-sharp">visibility</span></a></td>
              </tr>
            </tbody>
            <% } %>
          </table>
        </div>
      </main>
      <!-- END OF MAIN -->
    </div>
    <script src="/index.js"></script>
  </body>
</html>
