<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Payment Confirmation</title>
    <!-- MATERIAL CDN -->
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp"
      rel="stylesheet"
    />
    <!-- STYLESHEET-->
    <link rel="stylesheet" href="/css/paymentconfirm.css" />
  </head>
  <body>
    <%- include('layout/navbar') %>
    <!-- END OF NAVBAR -->
    <div class="container">
      <aside>
        <div class="sidebar">
          <a href="/admin/dashboard">
            <span class="material-icons-sharp">grid_view</span>
            <h3>Dashboard</h3>
          </a>
          <a href="/admin/management">
            <span class="material-icons-sharp">manage_accounts</span>
            <h3>Management</h3>
          </a>
          <a href="/payment/confirmation"  class="active">
            <span class="material-icons-sharp">paid</span>
            <h3>Payment</h3>
            <span class="message-count"><%= paymentpending %></span>
          </a>
          <a href="/admin/billing">
            <span class="material-icons-sharp">payments</span>
            <h3>Billing</h3>
          </a>
          <a href="/admin/setting">
            <span class="material-icons-sharp">settings</span>
            <h3>Setting</h3>
          </a>
          <a href="/admin/admin">
            <span class="material-icons-sharp">admin_panel_settings</span>
            <h3>Admin</h3>
          </a>
          <a href="/user/dashboard">
            <span class="material-icons-sharp">manage_accounts</span>
            <h3>User Account</h3>
          </a>
          <a href="/auth/user/logout">
            <span class="material-icons-sharp">logout</span>
            <h3>Logout</h3>
          </a>
        </div>
      </aside>
      <!-- END OF ASIDE -->
      <main>
        <h1>User Payment Confirmation</h1>
        <div class="management">
          <table>
            <thead>
              <tr>
                <th>Payment ID</th>
                <th>Username</th>
                <th>Order Number</th>
                <th>Package Name</th>
                <th>Status</th>
                <th>Lifetime</th>
                <th>Amount</th>
                <th>Details</th>
              </tr>
            </thead>
            <tbody>
              <% for(let i=0; i<allconfirmlist.length; i++) { %> 
              <tr>
                <td><%= allconfirmlist[i]._id %></td>
                <td><%= allconfirmlist[i].username %></td>
                <td><%= allconfirmlist[i].ordernumber %></td>
                <td><%= allconfirmlist[i].packagename %></td>
                <td><input value="<%= allconfirmlist[i].status %>"></td>
                <td><%= allconfirmlist[i].lifetime %></td>
                <td><%= allconfirmlist[i].amount %></td>
                <td><a href="/payment/confirmation/detail/<%= allconfirmlist[i]._id %>"><span class="material-icons-sharp">visibility</span></a></td>
              </tr>
              <% } %> 
            </tbody>
          </table>
        </div>
      </main>
      <!-- END OF MAIN -->
    </div>
    <script src="/index.js"></script>
  </body>
</html>
