<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User Information</title>
    <!-- MATERIAL CDN -->
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp"
      rel="stylesheet"
    />
    <!-- STYLESHEET-->
    <link rel="stylesheet" href="/css/userdetail.css" />
  </head>
  <body>
    <%- include('layout/navbar') %>
    <!-- END OF NAVBAR -->
    <div class="container">
      <aside>
        <div class="sidebar">
          <a href="/admin/dashboard">
            <span class="material-icons-sharp">grid_view</span>
            <h3>Dashboard</h3>
          </a>
          <a href="/admin/management" class="active">
            <span class="material-icons-sharp">manage_accounts</span>
            <h3>Management</h3>
          </a>
          <a href="/admin/billing">
            <span class="material-icons-sharp">payments</span>
            <h3>Billing</h3>
            <span class="message-count"><%= allwaitingpackage %></span>
          </a>
          <a href="/admin/setting">
            <span class="material-icons-sharp">settings</span>
            <h3>Setting</h3>
          </a>
          <a href="/admin/admin">
            <span class="material-icons-sharp">admin_panel_settings</span>
            <h3>Admin</h3>
          </a>
          <a href="/user/dashboard">
            <span class="material-icons-sharp">manage_accounts</span>
            <h3>User Account</h3>
          </a>
          <a href="/auth/user/logout">
            <span class="material-icons-sharp">logout</span>
            <h3>Logout</h3>
          </a>
        </div>
      </aside>
      <!-- END OF ASIDE -->
      <main>
        <h1>User Information</h1>
        <div class="your-bot-cover"></div>
        <div class="user-detail">
          <div class="user-content">
            <h1>User Information</h1>
            <table>
              <tbody>
                <tr>
                  <td>User ID</td>
                  <td><%= userdetail._id %></td>
                </tr>
                <tr>
                  <td>First Name</td>
                  <td><%= userdetail.firstname %></td>
                </tr>
                <tr>
                  <td>Last Name</td>
                  <td><%= userdetail.lastname %></td>
                </tr>
                <tr>
                  <td>Username</td>
                  <td><%= userdetail.username %></td>
                </tr>
                <tr>
                  <td>Email</td>
                  <td><%= userdetail.email %></td>
                </tr>
                <tr>
                  <td>Phone Number</td>
                  <td><%= userdetail.phone %></td>
                </tr>
                <tr>
                  <td>Line ID</td>
                  <td><%= userdetail.lineid %></td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="user-content">
            <h1>Connection Information</h1>
            <table>
              <tbody>
                <tr>
                  <td>RapterX Crypto Pairs</td>
                  <td><%= userdetail.raptercryptopairs %></td>
                </tr>
                <tr>
                  <td>RapterX Api Key</td>
                  <td><%= userdetail.rapterapikey %></td>
                </tr>
                <tr>
                  <td>RapterX Secret Key</td>
                  <td><%= userdetail.raptersecretkey %></td>
                </tr>
                <tr>
                  <td>Hydra Crypto Pairs</td>
                  <td><%= userdetail.hydracryptopairs %></td>
                </tr>
                <tr>
                  <td>Hydra Api Key</td>
                  <td><%= userdetail.hydraapikey %></td>
                </tr>
                <tr>
                  <td>Hydra Secret Key</td>
                  <td><%= userdetail.hydrasecretkey %></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </main>
      <!-- END OF MAIN -->
    </div>
    <script src="/index.js"></script>
  </body>
</html>
